<div class="container-sm text-center">
<div class="d-flex justify-content-center">

  <div class="card py-5" style="width: 27rem;">
    <div class="card-body">
      <h2>User Login</h2>
      <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          
          <%= f.email_field :email, placeholder: "Email" %>
        </div> <br>

        <div class="field">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
        </div> <br>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <div class="row">
              <div class="col-5 text-center">
                <%= f.check_box :remember_me %>
                </div>
            </div>
          </div>
        <% end %> <br>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %><br>
      <%= render "devise/shared/links" %>
    </div>
  </div>
  </div>
</div>